html {
  font-size: 16px;
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 950px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 62.5%;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  background-color: linen;
}

a:link {
  text-decoration: none;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  line-height: .5ch;
  opacity: 0.9;
  background-color: lightsteelblue;
}

nav .block-left {
  border-right: 1px solid green;
  padding-left: 1rem;
  font-family: serif;
  text-align: left;
}

nav .block-left .name {
  font-size: 1.5rem;
  text-align: left;
}

nav .block-left .title1 {
  font-size: 1.1rem;
  text-align: center;
  opacity: 0.7;
}

nav .block-middle-left {
  padding-left: .5rem;
  text-align: left;
  font-family: serif;
  line-height: 0.5ch;
}

nav .block-middle-left .title {
  font-size: 1.5rem;
  text-align: left;
}

nav .block-middle-left .city {
  font-size: 1.1rem;
  text-align: left;
  opacity: 0.7;
}

nav .block-middle-right {
  padding-right: 0.5rem;
  line-height: 0.5ch;
  font-family: serif;
  text-align: right;
  border-right: 1px solid green;
}

nav .block-middle-right .edu {
  font-size: 1.2rem;
  color: initial;
}

nav .block-middle-right .employ {
  font-size: 1.2rem;
  color: initial;
}

nav .block-right {
  padding-right: 1rem;
  line-height: 0.5ch;
  font-family: serif;
  text-align: right;
}

nav .block-right p {
  font-size: 1.2rem;
  color: initial;
}

.intro {
  background-image: url(https://images.unsplash.com/photo-1532094349884-543bc11b234d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  height: 95vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro .box1 {
  display: inline-flex;
  flex-direction: column;
}

.intro h1 {
  font-size: 4rem;
  font-family: serif;
  text-shadow: -2px 1px 10px rgba(246, 235, 235, 0.6);
  z-index: 3;
}

.intro .btn1 {
  padding: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.about {
  width: 60%;
  font-size: 1.5rem;
  background-color: #D3D8E0;
  margin-left: 40%;
  margin-top: 0.5rem;
}

.about span {
  font-weight: bold;
  font-size: 1.7rem;
}

.about p {
  padding: 1.5rem 2rem 1rem;
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  nav {
    display: flex;
    grid-template-columns: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  nav .block-middle-right,
  nav .block-right {
    display: none;
  }
  nav .block-middle-left {
    text-align: right;
  }
  nav .block-left {
    border: none;
    text-align: left;
  }
}

@media screen and (max-width: 700px) {
  .about {
    width: 100%;
    margin: 0;
  }
}
