@import './components/mixins';

html {
    font-size: 16px;
    
    @include responsive(tab-land) {
        font-size: 88%;
    }
    @include responsive(tab-port) {
        font-size: 75%;
    }
    @include responsive(phone) {
        font-size: 75%;
        ;

    }
}
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    background-color: linen;
}


@import './components/nav';
@import './components/intro';
@import './components/about';
@import './components/education';
@import './components/employment';
@import './components/instrumentation';

.contact {
    background-color: $color1;

    &-info {
        display: flex;
        padding: 0 1rem;
        justify-content: space-evenly;
        font-size: 1.4rem;

        & p:nth-last-of-type(3) {
            margin-left: auto;
        }

        & p:nth-last-of-type(3) {
            margin-right: auto;
        }

        p {
            padding: 1rem;
        }

        img {
            height: 5rem;
        }

        .insta {
            height: 3rem;
            padding-top: 1rem;
        }
    }
}

@import './components/mediaQuerys';

