.instrumentation {
    width: 85%;
    margin: 0 auto;
    background-color: $color4;
    color: burlywood;

    h2 {

        padding-left: 1rem;
        padding-top: 0.5rem;
        margin-top: .5rem;
    }


    .analyzers {
        display: grid;
        grid-template-columns: repeat(3, auto);
        text-align: center;
        font-size: 1.3rem;
        grid-gap: .5rem;
        padding: 0 0.5rem 1rem;
        
        
        

        p {
            // background-color: lightblue;
            margin: 0;
            border: 2px outset lightgray;
            padding: 0.5rem;

        }
    }
}