nav {
    @include responsive(phone) {
        display: flex;
        grid-template-columns: none;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;

        .block-middle-left {
            text-align: right;
        }
        .block-left {
            border: none;
            text-align: left;

            .title1 {
                text-align: left;
            }
        }
        .icon {
            display: block;
        }
    }
}

.topnav {
    @include responsive(phone) {
        .block-middle-right,
        .block-right {
            display: none;
        }
    }
}

.topnav.dropdown {
    @include responsive(phone) {
        .block-middle-right,
        .block-right {
            display: block;
            
            .edus,
            .employ,
            p  {
                font-size: 2.5rem;
                color: darkslateblue;
                
            }
        }
    }
}

.intro {
    @include responsive(phone) {
        background-position: center center;
    }
    @include responsive(tab-port) {
        background-position: center center;
    }
}

.about {
    @include responsive(phone) {
        width: 100%;
        margin: 0;
      }
}
.education {
    @include responsive(phone) {
        flex-direction: column;

        .edu {
            flex-basis: 0;
            line-height: 1;
            // font-size: 1.2rem;
        }
        .procedures {
            flex-basis: 0;
        }
    }
}
.employment {
    @include responsive(phone) {
        flex-direction: column-reverse;
        line-height: 1;

        &-info {
            line-height: 1;
        }
    }
}

.instrumentation {
    @include responsive(phone) {
        margin: 0;
        width: 100%;
    }
}

.contact {
    @include responsive(phone) {
        &-info {
            flex-direction: column;
            margin: 0;
            padding: 0;
            justify-content: center;
            text-align: center;

            p {
                padding: 0;
            }
        }
    }
}
