nav {
    @include responsive(phone) {
        display: flex;
        grid-template-columns: none;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;

        .block-middle-right,
        .block-right {
            display: none;
        }
        .block-middle-left {
            text-align: right;
        }
        .block-left {
            border: none;
            text-align: left;
            }
        }
    }
.about {
    @include responsive(phone) {
        width: 100%;
        margin: 0;
      }
}
.education {
    @include responsive(phone) {
        flex-direction: column;

        .edu {
            flex-basis: 0;
        }
        .procedures {
            flex-basis: 0;
        }
    }
}
.employment {
    @include responsive(phone) {
        margin: 0;
    }
}

