nav {
    @include responsive(phone) {
        display: flex;
        grid-template-columns: none;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;

        .block-middle-right,
        .block-right {
            display: none;
        }
        .block-middle-left {
            text-align: right;
        }
        .block-left {
            border: none;
            text-align: left;
            }
        }
    }
.about {
    @include responsive(phone) {
        width: 100%;
        margin: 0;
      }
}
.education {
    @include responsive(phone) {
        flex-direction: column;

        .edu {
            flex-basis: 0;
            line-height: 1;
            // font-size: 1.2rem;
        }
        .procedures {
            flex-basis: 0;
        }
    }
}
.employment {
    @include responsive(phone) {
        flex-direction: column-reverse;
        line-height: 1;

        &-info {
            line-height: 1;
        }
    }
}

.instrumentation {
    @include responsive(phone) {
        margin: 0;
        width: 100%;
    }
}

.contact {
    @include responsive(phone) {
        &-info {
            flex-direction: column;
            margin: 0;
            padding: 0;
            justify-content: center;
            text-align: center;

            p {
                padding: 0;
            }
        }
    }
}
