a:link {
    text-decoration: none;
}
nav {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  line-height: .5ch;
  opacity: 0.9;
  background-color: lightsteelblue;

  .block-left {
      border-right: 1px solid green;
      padding-left: 1rem;
      font-family: serif;
      text-align: left;

      .name {
          font-size: 1.5rem;
          text-align: left;
      }
      .title1 {
          font-size: 1.1rem;
          text-align: center;
          opacity: 0.7;
      }
  }

  .block-middle-left {
      padding-left: .5rem;
      text-align: left;
      font-family: serif;
    //   border: 1px solid red;
      line-height: 0.5ch;

      .title {
          font-size: 1.5rem;
          text-align: left;
      }
      .city {
          font-size: 1.1rem;
          text-align: left;
          opacity: 0.7;
      }
  }
  .block-middle-right {
      padding-right: 0.5rem;
      line-height: 0.5ch;
      font-family: serif;
      text-align: right;
      border-right: 1px solid green;

      .edus {
          font-size: 1.2rem;
          color: initial;
      }
      .employ {
          font-size: 1.2rem;
          color: initial;
      }
  }
  .block-right {
      padding-right: 1rem;
      line-height: 0.5ch;
      font-family: serif;
      text-align: right;

      p {
          font-size: 1.2rem;
          color: initial;
      }
  }

}